* {
    margin: 0;
    padding: 0;
}

body {
    background: #D9753B;
    color: #F2A057;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario {
    width: 320px;
    background: #A65437;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
select[class="selector"] {
    width: 100%;
    background: #D9753B;
    border: 1px solid #592316;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Modificado */
    color: #592316;
}

input[type="submit"],
input[type="submit"][name="enviar"],
input[type="submit"][name="actualizar"],
input[type="submit"][name="eliminar"] {
    background: goldenrod;
    width: calc(100% / 3 - 10px); /* Dividir el ancho en 3 y restar el espacio entre los botones */
    border-radius: 3px;
    padding: 8px 15px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color: #592316;
    font-size: 20px;
    margin-right: 10px; /* Espacio entre los botones */
}

input[type="submit"]:hover,
input[type="submit"][name="enviar"]:hover,
input[type="submit"][name="actualizar"]:hover,
input[type="submit"][name="eliminar"]:hover {
    background: #D9753B;
    transition: .6s;
}
